.contact-info {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
  width: 424px;
  height: 400px;
}
.detail{
    border-bottom: 1px solid #7E90FE ;
    margin-right: 25px;
    padding-bottom: 10px;
    
}
.apply{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
   
}