.banner {
  display: flex;
  padding-top: 50px;
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
  border-radius: 8px;
}

.category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 50px;

}
.jobs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 50px;
    
}
@media screen and (max-width: 600px) {
  .banner {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
  }
  .img-container {
    width: 100%;
    margin-top: 20px;
  }
  .info {
    width: 100%;
  }
  .category, .jobs-container{
    grid-template-columns: 1fr;
  }

}
